<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>Controladores.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Registro_servlet</servlet-name>
        <servlet-class>Controladores.Registro_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesion_Servlet</servlet-name>
        <servlet-class>Controladores.iniciarSesion_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReCuenta_serlvet</servlet-name>
        <servlet-class>Controladores.ReCuenta_serlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detallecliente_servlet</servlet-name>
        <servlet-class>Controladores.detallecliente_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion_Servlet</servlet-name>
        <servlet-class>Controladores.cerrarSesion_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarcliente_servlet</servlet-name>
        <servlet-class>Controladores.actualizarcliente_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferenciaServlet</servlet-name>
        <servlet-class>Controladores.TransferenciaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro_servlet</servlet-name>
        <url-pattern>/Registro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesion_Servlet</servlet-name>
        <url-pattern>/iniciarSesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReCuenta_serlvet</servlet-name>
        <url-pattern>/ReCuenta_serlvet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detallecliente_servlet</servlet-name>
        <url-pattern>/detallecliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion_Servlet</servlet-name>
        <url-pattern>/cerrarSesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarcliente_servlet</servlet-name>
        <url-pattern>/actualizarcliente.do</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>Controladores.Registro_servlet</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>TransferenciaServlet</servlet-name>
        <url-pattern>/Transferencia.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
